<ion-view view-title="Comic">
    <ion-content  id="com-cont" scrollbar-x="false" scrollbar-y="false" style="overflow: hidden: ;">
        <div id="comics-section-container" >
            <div id="comic-container">
                <ion-scroll scrollbar-x="false" scrollbar-y="false" delegate-handle="comic-image" direction="xy" min-zoom="1" locking="false" zooming="true" overflow-scroll="false"  style="height: 100%; overflow: hidden;">
                     <div id="comic-image" ng-style="imageSize" on-swipe-left="handleSwipeLeft($event)" on-swipe-right="handleSwipeRight($event)" class="image"></div> 
                </ion-scroll>
            </div>
            <div id="frames-container" >
            <thumbnail-gallery
                ng-hide="!selectedFrame"
                data="comic.frames"
                selected-index="selectedFrameIndex"
                next-comic-enabled="nextComicEnabled"
                previous-comic-enabled="previousComicEnabled"    
            >
            </thumbnail-gallery>
            </div>
        </div>
    </ion-content>
</ion-view>
