<ion-view view-title="Dev Humor">
  <ion-content scrollbar-x="false" scrollbar-y="false" style="overflow: hidden: ;">
    <div id="humor-section-container">
        <ion-scroll id="humor-image-container" scrollbar-x="false" scrollbar-y="false" delegate-handle="humor-image" direction="xy" min-zoom="1" locking="true" has-bouncing="false" zooming="true" overflow-scroll="false">
             <div id="humor-image" ng-style="imageSize" on-swipe-left="handleSwipeLeft($event)" on-swipe-right="handleSwipeRight($event)" class="image"></div> 
        </ion-scroll>
        <ion-scroll delegate-handle="caption-handle" overflow-scroll="false" direction="y" id="humor-caption-container" class="padding" >
          <div ng-bind-html="caption">
          </div>
        </ion-scroll>
    </div>
  </ion-content>
</ion-view>   
  