<ion-view view-title="Home">
  <ion-content>
    <div class="list full-vertical">
      <a href="#/tab/comic">
        <div class="item">
          <div>
           Comic
          </div>
        </div>
      </a>
      <a href="#/tab/humor">
        <div class="item">
          <div>
            Dev Humor
          </div>
        </div>
      </a>
      <a href="#/tab/humor">
        <div class="item">
          <div>
            Surprise Me
          </div>
        </div>
      </a>
      <a href="#/tab/share">
        <div class="item">
          <div>
            Share Stories
          </div>
        </div>
      </a>
      <a href="#/tab/about">
        <div class="item">
          <div>
            Learn About Genuitec
          </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
