<ion-view view-title="About">
  <ion-content>
    <ion-list>
        <ion-item on-tap="handleAboutCoderLifeTap()" class="big-button about-button">
            About #CoderLife
        </ion-item>
        <ion-item on-tap="handleAboutGenuitecTap()" class="big-button about-button">
            About Genuitec
        </ion-item>
        <ion-item on-tap="handlePowerUpCoderTap()" class="big-button about-button">
            Power Up Coding
        </ion-item>
        <ion-item on-tap="handleGetMyEclipseTap()" class="big-button about-button">
            Get MyEclipse
        </ion-item>
        <ion-item on-tap="handlePowerUpWebCodingTap()" class="big-button about-button">
            Power Up Web Coding
        </ion-item>
        <ion-item on-tap="handleDriveYourTeamTap()" class="big-button about-button">
            Drive Your Team
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

 

 
 
 
