<ion-view title="Share" view-title="Share">
  <ion-content id="share-sections-container">
    <div id="share-workstation-container" class="big-button padding" ui-sref="tab.share.workstation" style="height: 50%;">
        <div class="title">
            Share My Workstation
        </div>
    </div>
    <div id="share-story-container" class="big-button padding" ui-sref="tab.share.story" style="height: 50%;">
        <div class="title">
            Share a Story
        </div>
    </div>
  </ion-content>
</ion-view>