<ion-view view-title="About">
  <ion-content>
    <ion-list>
        <ion-item class="big-button about-button">
            About #CoderLife
        </ion-item>
        <ion-item class="big-button about-button">
            About Genuitec
        </ion-item>
        <ion-item class="big-button about-button">
            Power Up Coding
        </ion-item>
        <ion-item class="big-button about-button">
            Get MyEclipse
        </ion-item>
        <ion-item class="big-button about-button">
            Power Web Coding
        </ion-item>
        <ion-item class="big-button about-button">
            Drive Your Team
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

 

 
 
 
