<ion-view view-title="About">
  <ion-content>
    <ion-list>
        <ion-item>
            About #CoderLife
        </ion-item>
        <ion-item>
            About Genuitec
        </ion-item>
        <ion-item>
            Power Up Coding
        </ion-item>
        <ion-item>
            Get MyEclipse
        </ion-item>
        <ion-item>
            Power Web Coding
        </ion-item>
        <ion-item>
            Drive Your Team
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
