<ion-tabs class="tabs-icon-only tabs-color-active-positive">

  <ion-tab title="Home" icon-off="icon-home-coderlifeapp" icon-on="icon-home-coderlifeapp" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Comic" icon-off="icon-comic-coderlifeapp" icon-on="icon-comic-coderlifeapp" href="#/tab/comic">
    <ion-nav-view name="tab-comic"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Surprise Me" icon-off="icon-devhumor-coderlifeapp" icon-on="icon-devhumor-coderlifeapp" href="#/tab/humor">
    <ion-nav-view name="tab-humor"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Share" icon-off="icon-share-coderlifeapp" icon-on="icon-share-coderlifeapp" href="#/tab/share">
    <ion-nav-view name="tab-share"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" icon-off="icon-aboutus-coderlifeapp" icon-on="icon-aboutus-coderlifeapp" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>