<ion-scroll delegate-handle="thumbnail-gallery" direction="x" overflow-scroll="false" style="height: 150px;">
    <div class="thumbnail-items-container" >
        <div ng-class="{'thumbnail-item-selected':(($index ) == (selectedIndex + 1 ) ), 'thumbnail-item': true}" collection-repeat="dataEntry in dataPolish" on-tap="handleItemTap($index)" >

            <div ng-if="$first"
                ng-class="['thumbnail-next-comic', nextComicEnabled ? 'thumbnail-next-comic-enabled':'thumbnail-next-comic-disabled']"
                ng-click="handleNextTap()"
            >
            </div>

            <img ng-if="$first == $last" ng-src="{{dataEntry.image}}"  />
            
            <div ng-if="$last"
                 ng-class="['thumbnail-previous-comic', previousComicEnabled ? 'thumbnail-previous-comic-enabled':'thumbnail-previous-comic-disabled']"
                 ng-click="handlePreviousTap()"
            >
            </div>

        </div>
    </div>
</ion-scroll>
