/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'genuitec-icons';
    src:    url('../fonts/genuitec-icons.eot?oggi3s');
    src:    url('../fonts/genuitec-icons.eot?oggi3s#iefix') format('embedded-opentype'),
        url('../fonts/genuitec-icons.ttf?oggi3s') format('truetype'),
        url('../fonts/genuitec-icons.woff?oggi3s') format('woff'),
        url('../fonts/genuitec-icons.svg?oggi3s#genuitec-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'genuitec-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-devhumor-coderlifeapp:before {
    content: "\e900";
}
.icon-share-coderlifeapp:before {
    content: "\e901";
}
.icon-comic-coderlifeapp:before {
    content: "\e902";
}
.icon-aboutus-coderlifeapp:before {
    content: "\e903";
}
.icon-home-coderlifeapp:before {
    content: "\e904";
}



/* Empty. Add your own CSS if you like */

html, body,
.ionic-body {
    font-family: 'LatoWeb';
}

.bar.bar-stable {
    background: #041528;
}

.pane, .view {
    background: #041528;
    color: white;
}

ion-tabs.tabs-color-active-positive .tab-item {
    color: white;
}

.item {
    background: #041528;
    color: white;
}

.tabs {
    background: #041528;
}

.bar.bar-stable .title {
    color: white;
}

.item-input {
    background: white;
}

/******/

.full-vertical {
    height: 100%;
}

.list .item {
    height: 20%;
}

.image-loader-container {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.thumbnail-items-container {
    display: -webkit-flex;
    display: flex;
}

.thumbnail-item-selected {
    background: rgba(64, 64, 64, 0.6);
}

.thumbnail-item, .thumbnail-item-selected {
    height: 150px;
    width: 130px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    padding-left: 15px;
}

.thumbnail-item > * {
    width: 100px;
    height: 100px;
}

.thumbnail-arrow {
    line-height: 100px;
    font-size: 50px;
}

.thumbnail-arrow-active {
    color: #2CB0C3;
}

.thumbnail-arrow-inactive {
    color: #AEAEAE;
}

.image {
    width: 100%;
    min-height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

.flex {
    display: flex;
}

.thumbnail-next-comic, .thumbnail-previous-comic {
    height: 150px;
    width: 130px;
}

.thumbnail-next-comic {
    background: rgba(0, 128, 0, 0.5);
}

.thumbnail-previous-comic {
    background: rgba(128, 128, 0, 0.5);
}

.thumbnail-next-comic-disabled, .thumbnail-previous-comic-disabled {
    background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 320px) {
    #comics-container {
        background: url('../img/comics-ldpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #share-container {
        background: url('../img/share-ldpi.svg') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #about-us-container {
        background: url('../img/about-us-ldpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #dev-humor-container {
        background: url('../img/dev-humor-ldpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #surprise-me-container {
        background: url('../img/surprise-ldpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #share-story-container {
        background: url('../img/share-story-ldpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #share-workstation-container {
        background: url('../img/share-workspace-ldpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #no-connection-container {
        background: url('../img/bob-disconnect-ldpi.png') no-repeat #041528;
        background-position: 50% 100%;
        background-size: 100%;
        padding-top: 2em;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #comics-container {
        background: url('../img/comics-mdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #share-container {
        background: url('../img/share-mdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #about-us-container {
        background: url('../img/about-us-mdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #dev-humor-container {
        background: url('../img/dev-humor-mdpi.png') top center no-repeat;
        background-size: cover; 
        background-position: 50% 50%;
    }

    #surprise-me-container {
        background: url('../img/surprise-mdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #share-story-container {
        background: url('../img/share-story-mdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #share-workstation-container {
        background: url('../img/share-workspace-mdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #no-connection-container {
        background: url('../img/bob-disconnect-mdpi.png') no-repeat #041528;
        background-position: 50% 100%;
        background-size: 100%;
    }
}

@media (min-width: 481px) {
    #comics-container {
        background: url('../img/comics-hdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #share-container {
        background: url('../img/share-hdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #about-us-container {
        background: url('../img/about-us-hdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #dev-humor-container {
        background: url('../img/dev-humor-hdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #surprise-me-container {
        background: url('../img/surprise-hdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #share-story-container {
        background: url('../img/share-story-hdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #share-workstation-container {
        background: url('../img/share-workspaces-hdpi.png') top center no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #no-connection-container {
        background: url('../img/bob-disconnect-hdpi.png') no-repeat #041528;
        background-position: 50% 100%;
        background-size: 100%;
    }
}

.big-button {
    text-shadow: 2px 2px 4px #000000;
}

.big-button .title {
    font-size: 1.3em;
}

.big-button .time-since-last-entry-container .title {
    font-size: 1.3em;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.big-button .time-since-last-entry-container .time-since-last-entry {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.about-button {
    color: #2CAFC3;
    border: none;
}

.home-button-list .item {
    border-color: #041528;
}

.big-button .text-container {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.big-button .time-since-last-entry-container {
    -webkit-align-items: flex-end;
    align-items: flex-end !important;
    -webkit-justify-content: space-around !important;
    justify-content: space-around !important;
}

#no-connection-container .message {
    line-height: 1.2em;
    color: white;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000;
}

#share-workstation-container, #share-story-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

#comics-section-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;   
}

#comic-container {
    -webkit-flex: 1 0 300px;
    flex: 1 0 300px;
    width: 100%;
}

#frames-container {
    -webkit-flex: 1 0 300px;
    flex: 0 1 150px;
    width: 100%;
}

#share-story-input {
    height: 5em;
}

#share-workstation-preview-container {
    margin-top: 25px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2em;
}